@charset "UTF-8";
@import url(../css/reset.css);

/* common */
.pc {
	display:block;
}
.mobile {
	display:none;
}
.header_inner {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	padding:0 20px;
	display:flex;
	align-items: center;
	z-index: 100;
}
.header_inner.scroll {
	background:rgba(255,255,255,0.9);
}
.nav_wrap {
	padding:30px 0;
	padding-left:calc((100% - 1300px)/2);
	padding-right:calc((100% - 1300px)/2);
	margin-left:auto;
}
.nav_wrap ul {
	display:flex;
	justify-content: space-between;
}
.nav_wrap ul li:not(:first-of-type) {
	margin-left:50px;
}
.nav_wrap li > a {
	font-weight:500;
	font-size:22px;
}
.nav_wrap li > a:hover {
	color:rgba(54,95,160,1);
}
.nav_m_btn {
	display:none;
}
.section {
	padding:40px 0;
	padding-left:calc((100% - 1300px)/2);
	padding-right:calc((100% - 1300px)/2);
}
.section_tit {
	margin-bottom:30px;
	font-size:30px;
	color:rgba(54,95,160,1);
}
.btn_top {
	display:none;
	position: fixed;
	right:20px;
	bottom:2vh;
	width:45px;
	height:45px;
	background: url(../img/ico_btn_top.png) no-repeat center center / 100%;
}
.btn_top:hover {
	animation: top_btn 0.5s infinite;
	animation-direction:alternate;
}
@keyframes top_btn {
	0% {
		transform:translateY(0);
	}
	100% {
		transform:translateY(-10px);
	}
}
@media screen and (max-width:1400px){
	.section {
		padding:40px 20px;
	}
	.btn_top {
		right:20px;
	}
}
@media screen and (max-width:768px){
	.pc {
		display:none;
	}
	.mobile {
		display:block;
	}
	.nav_wrap {
		display:none;
	}
	.nav_wrap.active {
		display:block;
	}
	.nav_m_btn {
		display:block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 100;
	}
	.nav_m_btn.active {
		top:40px;
	}
	.nav_m_btn span {
		display:block;
		width:30px;
		height:3px;
		border-radius: 30px;
		background:#000;
		transition: all .3s;
	}
	.nav_m_btn.active span {
		background: #fff;
	}
	.nav_m_btn span:not(:first-of-type){
		margin-top:5px;
	}
	.nav_m_btn.active span:nth-of-type(1) {
		transform: rotate(45deg);
	}
	.nav_m_btn.active span:nth-of-type(2) {
		display:none;
	}
	.nav_m_btn.active span:nth-of-type(3) {
		transform: rotate(135deg) translate(-5px, 5px);
	}
	.nav_wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100vh;
		padding:110px 50px;
		margin-left:0;
		background: rgba(0,0,0,0.9);
	}
	.nav_wrap ul {
		flex-wrap:wrap;
		flex-direction: column;
	}
	.nav_wrap ul li:not(:first-of-type) {
		margin-left:0;
		margin-top:50px;
	}
	.nav_wrap li > a {
		color:#fff;
	}
}

/* 인트로 */
@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main {
	background: #f5fffa;
}
.intro {
	height:100vh;
}
svg {
	font-family: 'Binggrae-Bold';
	width: 100%; height: 100%;
}
svg text {
	text-transform: uppercase;
	font-size: 140px;
	animation: stroke 5s infinite alternate;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1)}
	80%  {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-width: 3;
	}
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%;
		stroke-dasharray: 50% 0;
		stroke-width: 0;
	}
}
/* 인트로2 */
.intro2 {
	height:100vh;
}
.intro2 .section_list_wrap {
	height:100%;
}
.intro2 .section_list {
	height:100%;
	font-size:0;
}
.intro2 .section_list > li{
	display:inline-block;
	position: relative;
	width:33.33%;
	height:100%;
	text-align: center;
	z-index: 3;
}
.intro2 .section_list > li:nth-child(1) {
	background: url(../img/img_intro_who.jpg) no-repeat top center / cover;
}
.intro2 .section_list > li:nth-child(2) {
	background: url(../img/img_intro_skill.jpg) no-repeat top right / cover;
}
.intro2 .section_list > li:nth-child(3) {
	background: url(../img/img_intro_works.jpg) no-repeat top center / cover;
}
.intro2 .section_list > li .deem {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.7);
}
.intro2 .section_list > li > a {
	display:block;
	position: relative;
	width:100%;
	height:100%;
	
	z-index: 3;
}
.intro2 .section_list > li > a span {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	font-size:60px;
	color:#fff;
	text-align: center;
}
.section {
	display:none;
	position: relative;
}
.section.open {
	display:block;
}
@media screen and (max-width:1024px){
	.intro2 .section_list > li > a span {
		font-size:48px;
	}
}
@media screen and (max-width:768px){
	.intro2 .section_list > li {
		width:100%;
		height:33.33%;
	}
	.intro2 .section_list > li > a span {
		font-size:40px;
	}
}
/* 프로필 */
.profile {
	overflow-x: hidden;
}
.profile .inner {
	display: flex;
	justify-content: center;
}
.profile .inner .img_wrap {
	width:300px;
	margin-left:50px;
}
.profile .txt_wrap {
	padding:30px 0;
}
.profile .txt_wrap .txt_box {
	width: 100vw;
	margin-top:30px;
	margin-bottom: 50px;
	display: flex;
}
.profile .txt_wrap .txt_box:nth-of-type(1) {
	background-color: #ff3796;
	transform: rotate(-2deg);
}
.profile .txt_wrap .txt_box:nth-of-type(2) {
	background-color: #007aff;
	transform: rotate(2deg);
	justify-content: flex-end;
}

.profile .txt_wrap .txt_box:nth-of-type(3) {
	background-color: #5800ff;
	transform: rotate(-2deg);
}
.profile .txt_wrap .txt_box:nth-of-type(4) {
	background-color: #39bda4;
	transform: rotate(2deg);
	justify-content: flex-end;
}
.profile .txt_wrap .txt_box h3 {
	padding: 40px 0;
	font-size:80px;
	color:#fff;
	display: flex;
}
.profile .txt_wrap .desc {
	padding-left:calc((100% - 1300px)/2);
	padding-right:calc((100% - 1300px)/2);
	margin-bottom:70px;
	font-size:24px;
	line-height: 36px;
	color:#333;
}
.profile .txt_wrap .b {
	font-weight:600;
}
@media screen and (max-width:1400px){
	.profile .inner {
		align-items: center;
	}
	.profile .txt_wrap .desc  {
		padding:0 50px;
		font-size:20px;
		line-height: 28px;
	}
}
@media screen and (max-width:1024px){
	.profile .txt_wrap {
		padding:0;
	}
}
@media screen and (max-width:768px){
	.profile .inner {
		flex-wrap:wrap;
		justify-content: center;
	}
	.profile .txt_wrap .txt_box h3 {
		font-size:32px;
	}
	.profile .txt_wrap .desc {
		padding:0 20px;
		font-size: 14px;
		line-height: 18px;
	}
}
/* 스킬 */
.skill .box_wrap {
	display:flex;
	justify-content: space-between;
}
.skill .box_wrap .box {
	position: relative;
}
.skill .box_wrap .box:not(:first-of-type) {
	margin-left:80px;
}
.skill .box_wrap li a {
	display:block;
	position: relative;
}
.skill .box_wrap li .img {
	display:block;
	padding:30px 15px;
}
.skill .box_wrap li.active .img {
	opacity: .3;
}
.skill .over_wrap {
	display:none;
	position: absolute;
	top:15px;
	left:0;
	width:100%;
	padding:30px;
}
.skill .over_wrap::before {
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);
}
.skill .over_wrap > * {
	position: relative;
}
.skill .box_wrap li .chart {
	width: 100%; 
	text-align: center;
}
.skill .chart span.data{
	display: block; 
	position: absolute;
	top:50%; 
	width: 100%; 
	font-size: 20px;
    font-weight: 500;
    color: #fff;
	text-align: center;
	transform: translateY(-50%);
}
.skill .info_tit {
	font-size:24px;
	color:#333;
}
.skill .descBox li {
	position: relative;
	margin-top:15px;
	padding-left:10px;
	font-size:18px;
	line-height: 26px;
	color:#333;
}
.skill .descBox li::before {
	content:'';
	position: absolute;
	top:9px;
	left:0;
	width:3px;
	height:3px;
	margin-right:5px;
	border-radius: 50%;
	background:#888;
}
@media screen and (max-width:1400px){
	.skill .box_wrap {
		max-width: 610px;
		margin:auto;
		flex-wrap:wrap;
	}
	.skill .box_wrap .box:not(:first-of-type) {
		margin-left:0;
	}
	.skill .box_wrap .box:nth-of-type(n+3) {
		margin-top:76px;
	}
	.skill .box_wrap .box:nth-of-type(2n+2) {
		margin-left:76px;
	}
	.skill .box_wrap li .img {
		max-width: 265px;
	}
}
@media screen and (max-width:768px){
	.skill .info_tit {
		font-size:20px;
	}
	.skill .box_wrap {
		max-width: 265px;
	}
	.skill .box_wrap .box:nth-of-type(n+3) {
		margin-top:0;
	}
	.skill .box_wrap .box:nth-of-type(2n+2) {
		margin-left:0;
	}
	.skill .box_wrap .box:not(:first-of-type) {
		margin-top:40px;
	}
	.skill .descBox li {
		margin-top:10px;
		font-size:16px;
	}
	.skill .descBox li::before {
		top:12px;
	}
}

/* Works */
.work {
	height:100vh;
	padding:0;
}
.work .section_tit {
	padding-top:40px;
	padding-left:calc((100% - 1300px)/2);
	padding-right:calc((100% - 1300px)/2);
}
.work .work_slide_wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.work .work_slide {
	height: 100%;
}
.work .work_slide .panel {
	position: relative;
	width:100%;
	height: 100%;
}
.work .control_wrap {
	position: absolute;
    left: 50%;
    bottom: 200px;
    width: 100%;
    height: 21px;
	transform: translateX(-50%);
}
.work  .swiper-pagination {
	bottom:0;
}
.work .work_slide .panel_inner {
	padding:40px 0;
	padding-left:calc((100% - 1300px)/2);
	padding-right:calc((100% - 1300px)/2);
	display:flex;
	align-items: center;
	justify-content: space-around;
}
.work .work_tit {
	position: relative;
	width:350px;
}
.work .work_tit::before {
	content:'';
	position: absolute;
	top:50%;
	left:50%;
	width:280px;
	height:280px;
	box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 50%);
	border-radius: 50%;
	background:#fff;
	transform: translate(-50%,-50%);
}
.work .work_slide .panel .work_tit::after {
	content:'';
	display:inline-block;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
}
.work .work_slide .panel.kstartup .work_tit::after {
	width:135px;
	height:33px;
	background: url(../img/img_logo_kstartup.png) no-repeat center center / 100%;
}
.work .work_slide .panel.tdoctor .work_tit::after {
	width:255px;
	height:51px;
	background: url(../img/img_logo_tdoctor.png) no-repeat center center / 100%;
}
.work .work_slide .panel.mapo .work_tit::after {
	width:213px;
	height:74px;
	background: url(../img/img_logo_mapo.png) no-repeat center center / 100%;
}
.work .work_slide .panel.gri .work_tit::after {
	width:209px;
	height:47px;
	background: url(../img/img_logo_gri.png) no-repeat center center / 100%;
}
.work .work_slide .panel.dmr .work_tit::after {
	width:206px;
	height:69px;
	background: url(../img/img_logo_dmr.jpg) no-repeat center center / 100%;
}
.work .con_wrap {
	position: relative;
    text-align: center;
}
.work .con_wrap .img_wrap {
	display:inline-block;
}
.work .con_wrap .desc_box {
	display: none;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    z-index: 3;
}
.work .con_wrap:hover .desc_box {
	display:inline-block;
	animation: bg .5s;
}
.work .panel .desc_box ul {
	margin-top:80px;
}
.work .panel .desc_box li {
	font-weight:500;
	font-size:18px;	
	color:#fff;
}
.work .panel .desc_box li:not(:last-of-type) {
	margin-bottom:15px;
}
.work .panel .desc_box a {
	display:inline-block;
	width:200px;
	height:48px;
	margin-top:30px;
	border:2px solid rgb(54 95 160);
	border-radius: 15px;
	font-size:28px;
	line-height:46px;
	text-align: center;
	color:rgb(54 95 160);
	transition: all .3s;
}
.work .panel .desc_box a:hover {
	border:2px solid rgb(54 95 160);
	background:rgb(54 95 160);
	color:#fff;
}
.work .con_wrap .bg {
    display:none;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
	
}
.work .con_wrap:hover .bg {
	display:inline-block;
	animation: bg .5s;
}
@keyframes bg {
	0% {
		transform: translateY(50%);
	}
	100% {
		display:block;
		transform: translateY(0);
	}	
}
@media screen and (max-width:1400px){
	.work .section_tit {
		padding:40px 20px 0;
	}
	.work .work_slide .panel_inner {
		padding:40px 20px;
	}
}
@media screen and (max-width:1024px){
	.work .panel .desc_box li {
		font-size:18px;
	}
	.work .panel .desc_box li:not(:last-of-type) {
		margin-bottom: 10px;
	}
	.work .panel .desc_box a {
		font-size:24px;
	}
}
@media screen and (max-width:768px){	
	.work {
		height:100%;
	}
	.work .work_slide .panel_inner {
		flex-wrap:wrap;
		justify-content: center;
	}
	.work .work_tit {
		margin-top:50px;
	}
	.work .work_tit::before {
		width:200px;
		height:200px;	
	} 
	.work .work_slide .panel.tdoctor .work_tit::after {
		width: 155px;
		height: 35px;
	}
	.work .work_slide .panel.mapo .work_tit::after {
		width: 127px;
		height: 35px;
	}
	.work .work_slide .panel.gri .work_tit::after {
		width: 155px;
		height: 35px;
	}
	.work .work_slide .panel.dmr .work_tit::after {
		width: 115px;
		height: 35px;
	}
	.work .con_wrap {
		margin-top:130px;
	}
	.work .work_slide .panel .desc_box {
		width:100%;
		text-align: center;
	}
	.work .panel .desc_box li {
		font-size:14px;
	}
	.work .panel .desc_box a {
		width:150px;
		height:30px;
		font-size:18px;
		line-height:28px;
	}
	.work .panel .img_wrap img{
		max-width: 200px;
		width: calc(100% - 20px);
		margin: auto;
	}
	.work .control_wrap  {
		bottom:20px;
	}
}

/* Contact */
.contact {
	padding: 40px 0;
    padding-left: calc((100% - 1300px)/2);
    padding-right: calc((100% - 1300px)/2);
	background:#888;
}
.contact .inner {
	display:flex;
	justify-content: center;
	align-items: center;
}
.contact .img_wrap {
	width:300px;
}
.contact .desc_wrap {
	width:calc(100% - 760px);

}
.contact .contact_list li span {
	font-weight:600;
}
.contact .contact_list li {
	font-weight: 500;
	font-size:28px;
	color: #fff;
}
.contact .contact_list li:not(:last-of-type) {
	margin-bottom:30px;
}
.contact .map_wrap {
	width:500px;
	height:350px;
	border:1px solid #ddd;
}
.contact .map_wrap .map {
	width:100%;
	height:100%;
}
@media screen and (max-width:1400px){
	.contact {
		padding: 40px 20px;
	}
	.contact .contact_list li {
		font-size:20px;
	}
}
@media screen and (max-width:1024px){
	.contact .contact_list li {
		font-size:16px;
	}
	.contact .desc_wrap {
		width:auto;
	}
}
@media screen and (max-width:768px){
	.contact .inner {
		flex-wrap:wrap;
		justify-content: center;
	}
	.contact .desc_wrap {
		width:100%;
		margin-left:0;
		text-align: center;
	}
	.contact_list {
		max-width:300px;
		margin: 30px auto;
		text-align: left;
	}
	.contact .map_wrap {
		width:300px;
		height:300px;
		margin-left:0;
	}
}